body {
  color: #FDFDFD;
  font-family: Times Roman;
  background-image: url('wood.jpg');
}

section {
  color: #414141;
  background-repeat: no-repeat;
  background-image: url('book.png');
  background-size: 100%;
  width: 90vw;
  padding-left: 10vw;
  padding-bottom: 75vh;
}

#reading-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cell {
  border: solid 3px #414141;
  margin: 1vw 1vw;
  padding: 1vw 1vw;
  border-radius: 5%;
  /* width: 100px; */
  flex: 1, 0, auto;
}

.cell:hover {
  background-color: #B200FF;
}

@media all and ( max-width: 500px ) {
  #reading-list{
    flex-direction: column;
    width: 70vw;
    text-align: center;
  }
}

li {
  list-style-type: none;
}

#form-wrapper {
 border-radius: 5px;
 width: 15vw;
 position: relative;
 font-size: 28px;
}
