body {
  color: #FDFDFD;
  font-family: 'Times Roman' monospace;
  background-image: url('wood.jpg');
}

section {
  color: #414141;
  background-repeat: no-repeat;
  background-image: url('book.png');
  background-size: 100%;
  width: 90vw;
  padding-left: 10vw;
  padding-bottom: 75vh;
}

#reading-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1.2vh;
}

.cell {
  border: solid 3px #414141;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
  border-radius: 5%;
  flex: 1, 0, auto;
}

.cell:hover {
  background-color: #FDFDFD;
}

li {
  list-style-type: none;
}

input[type=text], select {
  width: 20vw;
  margin: 1vh 0;
  display: inline-block;
  border: 1px solid #414141;
  background-color: #E4E4E6;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.8vw;
}

input[type=submit] {
  background-color: #414141;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:0.8vw;
}

button[type=submit] {
  background-color: #414141;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:0.8vw;
}

h2.chapters {
  font-size:1.3vw;
  text-align:left;
  padding-left:2vh;
  padding-top:5vh;
}

h2 {
  font-size:1.3vw;
  text-align:left;
}

h3 {
  font-size:1vw;
  text-align:left;
}

p {
  font-size:0.8vw;
  text-align:left;
}

h1 {
  font-size:6vw;
  text-align:center;
}

label {
  font-size:1vw;
  text-align:left;
  padding:2vh;
  padding-right:2vh;"
}

div.butts {
  padding-top:1vh;
  padding-left:1vw;
}
